extends header

block content

    form(id='form', method='post', action='/create')
        label(for='username') Username:
            input(type='text', name='username')
            br
            label(for='password') Password:
                input(type='text', name='password')
                br
            label(for='email') Email:
            input(type='text', name='email')
            br
            label(for='age') Age:
            input(type='text', name='age')
            br
            label(for='questions1') Security Question 1:
            select(name='questions1')
                each item in config.questions
                    option(value=item[1]) #{item[1]}
            br
            label(for='answer1') Answer 1:
                input(type='text', name='answer1')
            br
            label(for='questions2') Security Question 2:
            select(name='questions2')
                each item in config.questions
                    option(value=item[1]) #{item[1]}
            br
            label(for='answer2') Answer 2:
                input(type='text', name='answer2')
            br
            label(for='questions3') Security Question 3:
            select(name='questions3')
                each item in config.questions
                    option(value=item[1]) #{item[1]}
            br
            label(for='answer3') Answer 3:
                input(type='text', name='answer3')
            br
        input(type='submit', value='Add Person')
