extends header

block content
    div(class="container-form")
        form(id='form', method='post', action='/edit')
            h2 Edit your Profile
            div(class="form-group")
                input(type='text', name='username' autocomplete="off" required="required", value=person.username)
                label(for='username' class="control-label") Username:
                i(class="bar")
            div(class="form-group")
                input(type='password', name='password' autocomplete="off" required="required", value=person.password)
                label(for='password' class="control-label") Password:
                i(class="bar")
            div(class="form-group")
                input(type='text', name='email' autocomplete="off" required="required", value=person.email)
                label(for='email' class="control-label") Email:
                i(class="bar")
            div(class="form-group")
                input(type='text', name='age' autocomplete="off" required="required", value=person.age)
                label(for='age' class="control-label") Age:
                i(class="bar")
            div(class="form-group")
                label(for='question1' class="control-label-select") Security Question 1:
                select(name='questions1')
                    each item in config.category1
                        option(value=item[1]) #{item[1]}
                i(class="bar")
            div(class="form-group")
                input(type='text', name='answer1' autocomplete="off" required="required", value=person.answer1)
                label(for='answer1' class="control-label") Answer 1:
                i(class="bar")
            div(class="form-group")
                label(for='question2' class="control-label-select") Security Question 2:
                select(name='questions2')
                    each item in config.category2
                        option(value=item[1]) #{item[1]}
                i(class="bar")
            div(class="form-group")
                input(type='text', name='answer2' autocomplete="off" required="required", value=person.answer2)
                label(for='answer2' class="control-label") Answer 2:
                i(class="bar")
            div(class="form-group")
                label(for='question3' class="control-label-select") Security Question 3:
                select(name='questions3')
                    each item in config.category3
                        option(value=item[1]) #{item[1]}
                i(class="bar")
            div(class="form-group")
                input(type='text', name='answer3' autocomplete="off" required="required", value=person.answer3)
                label(for='answer3' class="control-label") Answer 3:
                i(class="bar")
            div(class="button-container" id="button-container-save")
                input(type='submit', value='Save new configuration' class="button")
    div(class="container-form")
        form(id='form2', method='post', action='/delete')
            div(class="button-container" id="button-container")
                input(type='submit', value='Delete this account' class="button")