extends header

block content
    div(class="container-form")
        form(id='form', method='post', action='/edit')
            h2 Edit your Profile
            img(src=person.profile width="200" height="200" id="image")
            input(name="profile" type="hidden" value=src id="profile")
            div(class="form-group")
                span Eye
                select(id="select-eye" onchange="onChange()")
                    each optionNumber in [1,2,3,4,5,6,7,8]
                        option(value=optionNumber) #{optionNumber}
                span Nose
                select(id="select-nose" onchange="onChange()")
                    each optionNumber in [1,2,3,4,5,6,7,8]
                        option(value=optionNumber) #{optionNumber}
                span Mouth
                select(id="select-mouth" onchange="onChange()")
                    each optionNumber in [1, 2, 3, 4, 5, 6, 7, 8]
                        option(value=optionNumber) #{optionNumber}
                span Color
                select(id="select-color" onchange="onChange()")
                    each optionValue in ["blue", "green", "red", "orange"]
                        option(value=optionValue) #{optionValue}
            div(class="form-group")
                input(name="profile" type="hidden")
            script(type="text/javascript").
                let url;
                let img = document.getElementById("image");
                function onChange() {
                    let eye = document.getElementById("select-eye");
                    let selectedEye = eye.options[eye.selectedIndex].value;
                    if (selectedEye === '8') {
                        selectedEye = '9';
                    } else if (selectedEye === '2') {
                        selectedEye = '10';
                    }
                    let nose = document.getElementById("select-nose");
                    let selectedNose = nose.options[nose.selectedIndex].value;
                    let mouth = document.getElementById("select-mouth");
                    let selectedMouth = mouth.options[mouth.selectedIndex].value;
                    if (selectedMouth === '2') {
                        selectedMouth = '10'
                    } else if (selectedMouth === '4') {
                        selectedMouth = '11';
                    } else if (selectedMouth === '8') {
                        selectedMouth = '9';
                    }
                    let color = document.getElementById("select-color");
                    let selectedColor = color.options[color.selectedIndex].value;
                    let hex;
                    if (selectedColor === "blue") {
                        hex = "3366AA"
                    } else if (selectedColor === "red") {
                        hex = "FF0000"
                    } else if (selectedColor === "green") {
                        hex = "00AA00"
                    } else if (selectedColor === "orange") {
                        hex = "FFa500"
                    }
                    url = "https://api.adorable.io/avatars/face/eyes" + selectedEye + "/nose" + (+selectedNose + 1) + "/mouth" + selectedMouth + "/" + hex;
                    img.setAttribute("src", "" + url);
                    update()
                };

                function update() {
                    let profile = document.getElementById("profile");
                    profile.setAttribute("value", url);

                }
            div(class="form-group")
                input(type='text', name='username' autocomplete="off" required="required", value=person.username)
                label(for='username' class="control-label") Username:
                i(class="bar")
            div(class="form-group")
                input(type='password', name='password' autocomplete="off" required="required", value=person.password)
                label(for='password' class="control-label") Password:
                i(class="bar")
            div(class="form-group")
                input(type='text', name='email' autocomplete="off" required="required", value=person.email)
                label(for='email' class="control-label") Email:
                i(class="bar")
            div(class="form-group")
                input(type='number', name='age' autocomplete="off" required="required" min="1" max="117", value=person.age)
                label(for='age' class="control-label") Age:
                i(class="bar")
            div(class="form-group")
                label(for='question1') What's your favorite OS?
            div(class="form-group")
                div() A. Windows
                div() B. MacOS
                div() C. Linux
                div(class="form-group") Select your answer
                    select(class='answer1' name='answer1')
                        option(value='A. Windows') A. Windows
                        option(value='B. MacOS') B. MacOS
                        option(value='C. Linux') C. Linux
            div(class="form-group")
                label(for='question2') What is your current degree plan?
            div(class="form-group")
                div() A. CS
                div() B. Web
                div() C. IS
                div() D. SE
                div(class="form-group")
                    select(class='answer1' name='answer2')
                        option(value='A. CS') A. CS
                        option(value='B. Web') B. Web
                        option(value='C. IS') C. IS
                        option(value='D. SE') D. SE
            div(class="form-group")
                label(for='question3') What is your cohort?
            div(class="form-group")
                div() A. 33
                div() B. 34
                div() C. 35
                div() D. 36+
                div(class="form-group")
                    select(class='answer1' name='answer3')
                        option(value='A. 33') A. 33
                        option(value='B. 34') B. 34
                        option(value='C. 35') C. 35
                        option(value='D. 36+') D. 36+
            div(class="button-container" id="button-container-save")
                input(type='submit', value='Save new configuration' class="button")
    div(class="container-form")
        form(id='form2', method='post', action='/delete')
            div(class="button-container" id="button-container")
                input(type='submit', value='Delete this account' class="button")